build
.*.swp
*.make
link.txt
CMakeFiles
Makefile
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
/CTestTestfile.cmake
/FindOpenCL.cmake
/Makefile
/ViennaCLConfigVersion.cmake
/DartConfiguration.tcl
/ViennaCLConfig.cmake
/cmake_install.cmake
/compile_commands.json
/doc/
/tests/vector_uint-test-cpu
/tests/vector_multi_inner_prod-test-cpu
/tests/vector_int-test-cpu
/tests/self_assign-test-cpu
/tests/vector_convert-test-opencl
/tests/scheduler_sparse-test-cpu
/tests/tql-test-cpu
/tests/qr_method_func-test-cpu
/tests/scan-test-cpu
/tests/qr_method-test-opencl
/tests/nmf-test-cpu
/tests/scalar-test-opencl
/tests/scheduler_matrix-test-cpu
/tests/spmdm-test-opencl
/tests/matrix_vector_int-test-opencl
/tests/tql-test-opencl
/tests/sparse_prod-test-cpu
/tests/scheduler_matrix_matrix-test-cpu
/tests/vector_uint-test-opencl
/tests/self_assign-test-opencl
/tests/libviennacl_blas2-test
/tests/qr_method-test-cpu
/tests/matrix_row_int-test-opencl
/tests/matrix_row_float-test-opencl
/tests/vector_float_double-test-opencl
/tests/scalar-test-cpu
/tests/libviennacl_blas3-test
/tests/qr_method_func-test-opencl
/tests/structured-matrices-test-opencl
/tests/matrix_row_double-test-opencl
/tests/svd-test-opencl
/tests/vector_float_double-test-cpu
/tests/sparse-test-cpu
/tests/matrix_vector-test-opencl
/tests/matrix_row_double-test-cpu
/tests/scheduler_vector-test-cpu
/tests/libviennacl_blas1-test
/tests/matrix_row_int-test-cpu
/tests/nmf-test-opencl
/tests/sparse-test-opencl
/tests/vector_int-test-opencl
/tests/spmdm-test-cpu
/tests/scan-test-opencl
/tests/vector_convert-test-cpu
/tests/matrix_vector-test-cpu
/examples/tutorial/libviennacl-tutorial
/tests/scheduler_matrix_vector-test-cpu
/tests/matrix_row_float-test-cpu
/tests/matrix_vector_int-test-cpu
/tests/sparse_prod-test-opencl
/tests/vector_multi_inner_prod-test-opencl
/nbproject/private/Default.properties
/examples/tutorial/nmf
/tests/fft_1d-test-cpu
/tests/CTestTestfile.cmake
/tests/iterators-test-opencl
/tests/iterators-test-cpu
/tests/bisect-test-opencl
/examples/tutorial/viennacl-info
/examples/tutorial/CTestTestfile.cmake
/examples/benchmarks/scheduler-bench-cpu
/examples/tutorial/blas1
/tests/matrix_product_double-test-opencl
/examples/benchmarks/opencl-bench-opencl
/examples/tutorial/matrix-free
/nbproject/project.xml
/tests/matrix_col_int-test-cpu
/examples/benchmarks/CTestTestfile.cmake
/tests/fft_2d-test-cpu
/examples/tutorial/scheduler
/tests/matrix_product_double-test-cpu
/tests/matrix_convert-test-cpu
/examples/tutorial/iterative-custom
/examples/tutorial/bisect
/examples/tutorial/bandwidth-reduction
/nbproject/private/launcher.properties
/tests/matrix_col_float-test-cpu
/tests/global_variables-test-opencl
/tests/matrix_col_float-test-opencl
/libviennacl/CTestTestfile.cmake
/tests/external_linkage-opencl
/examples/tutorial/fft
/examples/tutorial/amg
/tests/matrix_col_int-test-opencl
/tests/matrix_col_double-test-opencl
/tests/global_variables-test-cpu
/tests/matrix_convert-test-opencl
/examples/CTestTestfile.cmake
/nbproject/private/private.xml
/tests/blas3_solve-test-cpu
/tests/matrix_product_float-test-opencl
/nbproject/configurations.xml
/examples/benchmarks/dense_blas-bench-cpu
/examples/benchmarks/dense_blas-bench-opencl
/tests/matrix_col_double-test-cpu
/nbproject/private/configurations.xml
/tests/fft_1d-test-opencl
/tests/fft_2d-test-opencl
/examples/tutorial/wrap-host-buffer
/tests/blas3_solve-test-opencl
/tests/matrix_product_float-test-cpu
/nbproject/private/CodeAssistancePathMapper.properties
/examples/tutorial/custom-kernels
/examples/tutorial/custom-context